
/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lexend+Deca&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;400;700&family=Lexend+Deca&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variable assignment */
:root{
    
    /* Primary colors */
    --bright-orange : hsl(31, 77%, 52%);
    --dark-cyan: hsl(184,100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral color */
    --trasparent-white: hsl(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0,0%, 95%);

    
}

html{
    font-size: 62.5;
}




